@import "src/stylesheets/styles";

.article {
  &__card {
    border: 2px solid $lightgray;

    &__product {
      color: $black;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-self: center;

      .price {
        font-size: 25px;
        font-weight: 800;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
