// Colors
$lightgray: lightgray;
$gray: gray;
$white: white;
$black: black;
$red-custom: #e02a1c;
$customgray: rgb(184, 184, 184);

// Layout
$small: 400px;
$lsmall: 600px;
$xmedium: 800px;
$medium: 1000px;
$lmedium: 1200px;
$xlarge: 1400px;
$large: 1600px;
$llarge: 1800px;
