@import "src/stylesheets/styles";

.HeaderComponent {
  height: 80px;
  background-color: $red-custom;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .header-container {
    max-width: $lmedium;
    width: 100%;
    margin: 0 auto;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
  }

  .menu-wrapper {
    position: absolute;
    right: 20px;

    svg {
      fill: $white;
      font-size: 40px;
    }
  }
}
