@import "src/stylesheets/styles";

.HeaderComponent {
  height: 80px;
  background-color: $red-custom;
  color: $white;

  .header-container {
    max-width: $lmedium;
    width: 100%;
    margin: 0 auto;
  }
}
