@import "src/stylesheets/styles";

.buy-article {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red-custom;
  border-radius: 5px;
  cursor: pointer;

  &.spinning {
    opacity: 0.8;
    pointer-events: none;
  }

  &__icon {
    width: 100%;
    height: 100%;

    .spinning {
      animation: 1s linear infinite spinning;
    }

    svg {
      fill: $white;
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
